<div class="app-card-container about-me">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class ="col-md-6">
        <h3>Home Address</h3>

        <p>Right Here</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8014443333" %></p>

        <h3>Email</h3>

        <p><a href="mailto:codemedarkone@gmail.com?subject=PortfolioContact">Email me</a></p>
      </div>

      <div class ="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.1704351780327!2d-111.89598008470185!3d40.69224387933415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528a579e7d4795%3A0xb50dba51dab87288!2s3625+S+W+Temple%2C+South+Salt+Lake%2C+UT+84115!5e0!3m2!1sen!2sus!4v1489025390983" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>



